#topright {
    /* transition-duration: 2s; */
    animation-name: and;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    max-width: 100%;
  }
  @keyframes and {
    0% {
        background: url("./images/rovie123.jpg") no-repeat center / cover ;

    }
    30% {
        background: url("./images/andela.jpg") no-repeat center / cover #0B0C10;
    }
    65% {
        background: url("./images/afchix.jpg") no-repeat center / cover #0B0C10;
    }

    100% {
        background: url("./images/rovie123.jpg") no-repeat center / cover;
    }
  }