#top_navbar {
    background-color:black;
    overflow: hidden;
    position:relative; 
    width:100%;   
}

#top_navbar a{
float:right;
color:#66FCF1;
text-align:center;
padding:14px 16px;
text-decoration:none;
font-size:20px;
}
#top_navbar a:hover{
    background-color:black;
    color:#C5C6C7;
}
img{
    position:relative;
}
#container{
    position:relative;
    color:#66FCF1;
}
#topright{
    position:absolute;
    top:70px;
    left:1%;
    right:70%;
    font-size:18px;
    width:500px;
    padding:8px;
    border-radius: 15px;
    border: 2px 2px 2px 2px;
    margin:0;
    font-size: 20px;
    }
    .name{
        color:#66FCF1;
        font-family:'Montserrat';
        font-size: 60px;  
    }
    .who-rovence{color:#66FCF1;
        font-family:'Esteban';
        font-size: 40px;
       
    font-size:60px;}
    .aboutme-section{
        font-family: 'montserrat' 22px;;
        text-align: center;
        color:#0B0C10;  
    } 
    .brief-stat{
color:#C5C6C7;
font-family: 'Esteban';font-size: 18px;
    }
    .heading1{
        text-align: center;
        font-size:60px;
        font-family: 'Esteban';
    }
      #About-me-section{
  position:inherit;
       color:#C5C6C7;
        font-size: large;
        text-align: center;
        background-color:#0B0C10;
    }
    .details{
        font-family: 'Monserrat';
        font-size:18px;
        color:#C5C6C7;
    }
    button{
        border-radius: 15px;
        background-color: #C5C6C7;
        font-size: 24px;
    }
    #projects{
        padding-top: 0%;
       background-color: none;
       color:#0B0C10;
       font-family: 'Monserrat';
       font-size:20px;
    }
.heading2{
    color:#0B0C10;
    font-family: 'Esteban';
    font-size: 60px;
    text-align: center; 
}
.projectstat{
    color:#0B0C10;
    font-family: 'montserrat';
    font-size:large;
}
.projects-intro-stat{
    color:#0B0C10;
    font-family: 'Esteban';
    font-size:30px;
}
    .row{
        float:flex;
        width:30%;
        padding:0 10px;
    
    }

    .row:after{
        content:"";
        display:table;
        clear:both;
    }
   /*style the counter cards*/
    .card{
    box-shadow: 0 4px 8px 0 #0B0C10;
        /*add card effect*/
    padding:16px;
    text-align:center;
    background-color:#C5C6C7;
    color:#0B0C10;
    
    /*add some transition*/
    transition: 0.3s;
    }
    /* On mouse-over, add a deeper shadow */

      .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        border-top: 2px solid black;
        height: 100vh;
        overflow: auto;
      } 
      
      .card{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 30rem;
          margin: 5px;
      }
      .card:hover{
        background-color:black;
        color: #66FCF1;
       }
 
      .image{
          height: 100px;
          width: 200px;
      }
   
     .heading3{
        color:#0B0C10;
        font-family: 'Esteban';
        font-size: 60px;
        text-align: center;    
     }
     #contacts p{ 
      
      margin:0 2px 3px 4px;
     }
     .right2{
         text-align: center;
         background-color:whitesmoke;
     }
   
     .thank-you{
        font-family: 'Esteban';
        font-size:30px;
        color:#0B0C10;
     }

     footer{
         font-weight: bold;
         font-size: large;
         padding-top: 2rem;
         padding-bottom: 2rem;
         background-color:#0B0C10;
         color:#C5C6C7;
         text-align: center;
     }
    
     @media only screen and (max-width: 700px) {
         
        .deviceWidth{width:290px!important;padding:0;}
        
        .body{
           
            font-size: 20px;
            flex:50%;
            float: left;
            width: 20%;
          
        }
        @media only screen and (orientation: landscape) {
            body {
              background-color: #66FCF1;

            }
          }
          @media screen and (max-width: 600px){
            .column{
                width:100%;
                display:block;
                
                margin-bottom:20px;
            }
        }

     }
    

